<settings>
  <localRepository>C:\Users\81255234\.m2\repository</localRepository>
  <mirrors>
    <mirror>
      <!--This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>https://maven.redpill-linpro.com/nexus/content/groups/public/</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>nexus</id>
      <!--Enable snapshots for the built in central repo to direct -->
      <!--all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
         <url>http://central</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
        <id>downloadSources</id>
        <properties>
           <downloadSources>false</downloadSources>
           <downloadJavadocs>false</downloadJavadocs>
        </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
    <activeProfile>downloadSources</activeProfile>
  </activeProfiles>
    <proxies>
     <proxy>
        <id>http-pccw-proxy</id>
        <active>true</active>
        <protocol>http</protocol>
        <host>app-proxy.pccw.com</host>
        <port>8080</port>
        <nonProxyHosts>127.0.0.1|nexus.urcicd.sitelb.bpu.pccw.com|https://nexus.urcicd.sitelb.bpu.pccw.com/repository/maven-central/|https://maven.redpill-linpro.com/nexus/content/groups/public/</nonProxyHosts>
     </proxy>
     <proxy>
        <id>https-pccw-proxy</id>
        <active>true</active>
        <protocol>https</protocol>
        <host>app-proxy.pccw.com</host>
        <port>8080</port>
        <nonProxyHosts>127.0.0.1|nexus.urcicd.sitelb.bpu.pccw.com|https://nexus.urcicd.sitelb.bpu.pccw.com/repository/maven-central/|https://maven.redpill-linpro.com/nexus/content/groups/public/</nonProxyHosts>
     </proxy>
  </proxies>

  <servers>
  </servers>
</settings>
